[submodule "vendor/hub"]
	path = vendor/hub
	url = git://github.com/defunkt/hub.git
[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vendor/grml-etc-core"]
	path = vendor/grml-etc-core
	url = git://git.grml.org/grml-etc-core.git
[submodule "vendor/solarized"]
	path = vendor/solarized
	url = https://github.com/altercation/solarized.git
[submodule "vendor/mattfoster-zshkit"]
	path = vendor/mattfoster-zshkit
	url = git://github.com/mattfoster/zshkit.git
[submodule "vendor/rtomayko-dotfiles"]
	path = vendor/rtomayko-dotfiles
	url = git://github.com/rtomayko/dotfiles.git
[submodule "vendor/skwp-dotfiles"]
	path = vendor/skwp-dotfiles
	url = git://github.com/skwp/dotfiles.git
[submodule "vendor/mathiasbynens-dotfiles"]
	path = vendor/mathiasbynens-dotfiles
	url = git://github.com/mathiasbynens/dotfiles.git
[submodule "vendor/sykora-etc"]
	path = vendor/sykora-etc
	url = git://github.com/sykora/etc.git
[submodule "vendor/zsh-completions"]
	path = vendor/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "vendor/dotzsh"]
	path = vendor/dotzsh
	url = git://github.com/dotphiles/dotzsh.git
[submodule "vendor/dotphiles"]
	path = vendor/dotphiles
	url = git://github.com/dotphiles/dotphiles.git
[submodule "vendor/zsh-history-substring-search"]
	path = vendor/zsh-history-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
[submodule "vendor/zsh-syntax-highlighting"]
	path = vendor/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
