[submodule "vendor/hub"]
	path = vendor/hub
	url = git://github.com/defunkt/hub.git
[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vendor/grml-etc-core"]
	path = vendor/grml-etc-core
	url = git://git.grml.org/grml-etc-core.git
[submodule "vendor/solarized"]
	path = vendor/solarized
	url = https://github.com/altercation/solarized.git
[submodule "vendor/mattfoster-zshkit"]
	path = vendor/mattfoster-zshkit
	url = git://github.com/mattfoster/zshkit.git
[submodule "vendor/henrik-dotfiles"]
	path = vendor/henrik-dotfiles
	url = git://github.com/henrik/dotfiles.git
[submodule "vendor/hg-git"]
	path = vendor/hg-git
	url = git://github.com/schacon/hg-git.git
[submodule "vendor/highline"]
	path = vendor/highline
	url = git://github.com/JEG2/highline.git
[submodule "vendor/joshuaclayton-dotfiles"]
	path = vendor/joshuaclayton-dotfiles
	url = git://github.com/joshuaclayton/dotfiles.git
[submodule "vendor/colinhebert-dotfiles"]
	path = vendor/colinhebert-dotfiles
	url = git://github.com/ColinHebert/dotfiles.git
[submodule "vendor/rtomayko-dotfiles"]
	path = vendor/rtomayko-dotfiles
	url = git://github.com/rtomayko/dotfiles.git
[submodule "vendor/skwp-dotfiles"]
	path = vendor/skwp-dotfiles
	url = git://github.com/skwp/dotfiles.git
