[submodule "vendor/hub"]
	path = vendor/hub
	url = git://github.com/defunkt/hub.git
[submodule "vendor/oh-my-zsh"]
	path = vendor/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vendor/zsh"]
	path = vendor/zsh
	url = git://zsh.git.sf.net/gitroot/zsh/zsh
[submodule "vendor/grml-etc-core"]
	path = vendor/grml-etc-core
	url = git://git.grml.org/grml-etc-core.git
[submodule "vendor/solarized"]
	path = vendor/solarized
	url = https://github.com/altercation/solarized.git
[submodule "vendor/zsh-virtualbox"]
	path = vendor/zsh-virtualbox
	url = https://github.com/mtorromeo/zsh-virtualbox.git
[submodule "vendor/ryanb-dotfiles"]
	path = vendor/ryanb-dotfiles
	url = git://github.com/ryanb/dotfiles.git
